:root {
    --black: #3a3a3a;
    --white: #fff;
    --purple: #7c32ff;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

ol {
    list-style: none;
    padding: 0 !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 2.3rem;
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
}


/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
    text-align: center;
    margin-bottom: 2rem;
}

.filters * {
    display: inline-block;
}

.filters label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
}

.filters label:has(input:checked) {
    background: var(--purple);
    color: var(--white);
}

.filters label:hover {
    background: var(--purple);
    color: var(--white);
}


/* FILTERED ELEMENTS (POSTS)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.posts .post {
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.posts .post-title {
    font-size: 1.1rem;
}

.posts .post-title a {
    color: #1f1f1f;
    text-decoration: none;
}

.posts .post-title:hover a {
    color: var(--purple);
}

.posts figcaption {
    padding: 1rem;
}

.posts .post-categories {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
}

.posts .post-categories * {
    display: inline-block;
}

.posts .post-categories li {
    margin: 0.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid;
    line-height: normal;
    transition: all 0.1s;
}

.posts .post-categories li:hover {
    background: var(--purple);
    color: var(--white);
}


/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked~.posts [data-category] {
    display: block;
    /* Show all posts */
}

[value="CSS"]:checked~.posts .post:not([data-category~="CSS"]),
[value="JavaScript"]:checked~.posts .post:not([data-category~="JavaScript"]) {
    display: none;
    /* Hide posts that do not match the selected category */
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 950px) {
    .posts {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 450px) {
    .posts {
        grid-template-columns: repeat(1, 1fr);
    }
}